.container {
    padding-bottom: 2rem;
}
.container img {
    width: 20rem;
}
.content {
    padding: 1%;
}
.title {
    font-size: x-large;
    font-weight: bolder;
    padding: 1% 0;
}
.comment {
    padding: 1% 0;
}
.hashtag {
    color: cadetblue;
    padding: 1% 0;
}
.cardContainer {
    width: 70vh;
}