.navigation {
    display: flex;
    width: 100%;
    border: black 1px solid;
    justify-content: center;
    position: fixed;
    z-index: 99;
}
.wrapper {
    width: 80%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.menu {
    cursor: pointer;
}