.container {
    margin: 0px auto;
    padding: 35px 0px;
    width: 85%;
    max-width: 83rem;
    position: relative;
    font-family: Leferi, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}